body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #222;
}

ul {
    list-style: square;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}

/* Mobile Friendly */
@media (max-width: 600px) {
    section {
        margin: 10px;
        padding: 20px;
    }
}
